<a href="https://colab.research.google.com/github/xk0-thg93/logicaprogramacaopython/blob/main/tuplaslistasducionariosemstrings/C%C3%B3pia_de_Exercicio_LISTAS_07_08_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercícios utilizando Listas Python**

## 1. Soma dos Elementos da Lista
Dada uma lista de números, calcule a soma de todos os elementos.

In [ ]:
# Seu código aqui...
lista = [1, 2, 3, 4, 5]
sum(lista)

15

## 2. Produto dos elementos da lista
Dada uma lista de números, calcule o produto de todos os elementos.

In [ ]:
# Seu código aqui...
multi=1
lista2 = [1, 2, 3, 4, 5]
for i in lista2:
  multi=multi * i
print(multi)

120

## 3. Encontre o menor elemento
Dada uma lista de números, encontre o menor elemento.

In [ ]:
# Seu código aqui...
lit = [1, 2, 3, 4, 5]
print(min(lit))

1

## 4. Encontre o maior elemento
Dada uma lista de números, encontre o maior elemento.

In [ ]:
# Seu código aqui...
lit = [1, 2, 3, 4, 5]
max(lit)

5

## 5. Contar Ocorrências de um Elemento
Dada uma lista de números e um número alvo, conte quantas vezes o alvo aparece na lista.

In [ ]:
# Seu código aqui...
lit = [1, 2, 3, 4, 3, 2, 1]
obj = 1
lit.count(obj)

2

## 6. Remover duplicatas
Dada uma lista de números, crie uma nova lista sem elementos duplicados.

In [ ]:
# Seu código aqui...
lit = [1, 2, 2, 3, 4, 4, 5]
lit1 = []

for i in lit:
  if i not in lit1:
    lit1.append(i)
print(lit1)

[1, 2, 3, 4, 5]
[2, 4]

In [ ]:
lit = [1, 2, 2, 3, 4, 4, 5]
list(set(list))

[1, 2, 3, 4, 5]

## 7. Inverter uma lista
Dada uma lista de números, inverta a ordem dos elementos.

In [ ]:
lit = [1, 2, 3, 4, 5]
lit[::-1]

[5, 4, 3, 2, 1]

## 8. Intercalar Duas Listas
Dadas duas listas de números, crie uma nova lista intercalando os elementos das duas listas.

In [ ]:
# Seu código aqui...
lit1 = [1, 3, 5, 7]
lit2 = [2, 4, 6, 8]
lit3 = []
lit1.extend(lit2)
lit1.sort()
lit3.extend(lit1)
print(lit3)

[1, 2, 3, 4, 5, 6, 7, 8]

## 9. Somar Elementos Correspondentes de Duas Listas
Dadas duas listas de números de mesmo tamanho, crie uma nova lista com a soma dos elementos correspondentes.

In [ ]:
# Seu código aqui...
lit1 = [1, 2, 3]
lit2 = [4, 5, 6]
lit3 = []
con = 0
while con < 3:
  lit3.append(lit1[con] + lit2[con])
  con = con + 1
print(lit3)

[5, 7, 9]

## 10. Mover Zeros para o Fim
Dada uma lista de números, mova todos os zeros para o final da lista.

In [ ]:
# Seu código aqui...
lit = [0, 1, 0, 3, 12]
for i in lit:
  if i == 0:
    lit.remove(i)
    lit.append(i)
print(lit)

[1, 3, 12, 0, 0]